body{
  background-color: #EAF6F6;
}
h3{
  color: #66BFBF;
}
hr{
  border-style: none;
  width: 5%;
   /* width: 30px;  */
  border-width: 5px;
  border-top-style: dotted;
  border-color: grey;
}
